@using KFD.Models
@model Dish

<form method="post" enctype="multipart/form-data">

	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2> Crear un plato nuevo</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Name">Nombre</label>
			<input asp-for="Name" type="text" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>

			<div class="mb-3">
				<label asp-for="Description"></label>
				<textarea asp-for="Description" class="form-control" rows="3"></textarea> />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<label asp-for="Price">Precio</label>
			<input asp-for="Price" type="text" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>

			<label asp-for="Picture">Imagen</label>
			<input id="uploadBox" name="file" type="file" class="form-control" />
			<span asp-validation-for="Picture" class="text-danger"></span>

			@{
				var enabledAux = new List<SelectListItem>
			{
			new SelectListItem { Text = "Habilitado", Value = "1" },
			new SelectListItem { Text = "Deshabilitado", Value = "0" }
			};
			}

			<div class="mb-3">
				<label asp-for="IsEnabled">Estatus</label>
				<select asp-for="IsEnabled" asp-items="enabledAux" class="form-select">
					<option disabled selected>--- Estatus ---</option>
				</select>
			</div>

		</div>
		<button type="submit" class="btn btn-primary">Crear</button>
		<a asp-controller="Dishes" asp-action="Index" class="btn btn-secondary">Volver</a>
	</div>
</form>

@section Scripts {
	<script src="https://cdn.tiny.cloud/1/hdqqbtyuynjhmttfvcsga2bqmuzzq8kg8kuj1z3zuhgfvs41/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({
		  selector: 'textarea',
		  plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
		  toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
		});
	</script>

	@{
		<partial name="_ValidationScriptsPartial" />
	}

}
