@*@model List<Order>*@
<partial name="_Notifications" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Lista de Pedidos</h2>
        </div>
        
        <div class="col-6 text-end">
            <a asp-area="Kitchen" asp-controller="Orders" asp-action="UndoOrder" class="btn btn-warning">
                Deshacer
            </a>
        </div>
    </div>

    <hr /> 
    
    <div id="cardsContainer" class="row">
    </div>
</div>

<script src="~/js/orderKitchen.js"></script>