@*@model List<Order>*@
<partial name="_Notifications" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Lista de Pedidos</h2>
        </div>
        @* Puedes añadir aquí más elementos como un botón para recargar las tarjetas si lo necesitas *@
        @* <div class="col-6 text-end">
            <button id="reloadCardsButton" class="btn btn-info">Recargar Pedidos</button>
        </div> *@
    </div>

    <hr /> @* Una línea divisoria para mejor separación visual *@

    <div id="cardsContainer" class="row">
    </div>
</div>

<script src="~/js/orderKitchen.js"></script>