@model Order

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2> Eliminar Pedido</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Description">Nombre</label>
			<input asp-for="Description" type="text" class="form-control" readonly />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Date">Nombre</label>
			<input asp-for="Date" type="text" class="form-control" readonly />
			<span asp-validation-for="Date" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-danger">Eliminar</button>
		<a asp-controller="Order" asp-action="Index" class="btn btn-secondary">Volver</a>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}

}