@*@model List<Dish>*@

<partial name="_Notifications" />
<div class="container">
		<div class="row pt-4">
			<div class="col-6">
				<h2>Lista de Platos</h2>
			</div>
		</div>
	<table class="table table-striped table-bordered" id="tblData">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Picture</th>
			</tr>
		</thead>
	</table>
</div>

	
<script src="~/js/dish.js"></script>
